<div class="chat-container" *ngIf="chat" >
  <div>
<div class="messages" >
  <app-message *ngFor="let message of chat.messages" [text]="message.content" [user]="message.sender">

  </app-message>
</div>
  <textarea [(ngModel)]="messageText" placeholder="message text...">

</textarea>
    <br>

  <button  (click)="send()">send</button>
  </div>

  <select [(ngModel)]="user">
    <option [value]="user.username" *ngFor="let user of usersToInvite">{{user.username}}</option>
  </select>
  <input  value="add user" type="button" (click)="addUser()">
</div>
